main {
    border-color: #cbcbcb;
    border-style: groove;
    border-width: 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    height: 40vw;
    width: 40vw;
}

.row {
    background-color: #b9b9b9;
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 3px dotted;
    box-sizing: border-box;
}

.cell {
    background-color: #b9b9b9;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px dotted;
    box-sizing: border-box;
}


#one img {
    width: 65%;
}

#two img {
    width: 65%;
}

#three img {
    width: 65%;
}

#bomb img {
    width: 65%;
}

#close img {
    width: 105%;
    height: 108%;
    border: none;
}

#open img {
    width: 100%;
}